<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h2>URL shortner</h2>

    <h2>Paste a link to shorten it</h2>

    <form action="/create" method="post">
        <input type="text" name="longUrl" placeholder="Paste a link to shorten it">
        <input type="submit" value="Shorten">
    </form>
    <h4>
        Your shortened Url is: <a href=<%=shortenedUrl%>>
            <%=shortenedUrl%>
        </a>
    </h4>
    <script>

        console.log(window.location.origin)
    </script>
    <script src='/main.js'></script>
</body>

</html>